.footer {
  background-color: #0f172a;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
  flex-wrap: wrap;
  margin-top: 20%;
}

.footer-left {
  max-width: 200px;
}

.footer-list {
  list-style: none;
  margin-bottom: 10px;
}

.footer-list li {
  margin: 6px 0;
}

.footer-copy {
  font-size: 14px;
  opacity: 0.8;
}

/* Right side form */
.footer-right form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-right input {
  padding: 8px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.footer-right button {
  background-color: #1c4351;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}

.footer-right button:hover {
  background-color: #0ea5e9;
}

/* Mobile responsive */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    gap: 20px;
  }
}
